<table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%"
  style="margin: auto; background-color: #ebf1fd; padding: 10px 0">
  <thead>
    <tr>
      <th style="width: 100%">
        <ul style="text-align: center; list-style: none">
          <li style="display: inline-block">
            <a class="icon" href="#" target="_blank" style="
                  text-decoration: none;
                  color: #333333;
                  padding: 0 15px;
                "><img src="" alt="facebook" width="48" height="48" id="facebook" onmouseout="socialHoverOut(this.id)"
                onmouseover="socialHoverIn(this.id)" class="social-icon"></a>
          </li>

          <li style="display: inline-block">
            <a class="icon" href="#" target="_blank" style="
                  text-decoration: none;
                  color: #333333;
                  padding: 0 15px;
                "><img src="" alt="facebook" width="48" height="48" id="facebook" onmouseout="socialHoverOut(this.id)"
                onmouseover="socialHoverIn(this.id)" class="social-icon"></a>
          </li>

          <li style="display: inline-block">
            <a class="icon" href="#" target="_blank" style="
                  text-decoration: none;
                  color: #333333;
                  padding: 0 15px;
                "><img src="" alt="facebook" width="48" height="48" id="facebook" onmouseout="socialHoverOut(this.id)"
                onmouseover="socialHoverIn(this.id)" class="social-icon"></a>
          </li>
        </ul>
      </th>
    </tr>

    <tr>
      <td>
        <h4 style="text-align: center; padding-top: 10px">
          Powered by
          <a href="https://snapcrack.com/" target="_blank">snapcrack.com</a>
        </h4>
      </td>
    </tr>
  </thead>
</table>