node_modules/.env
/node_modules
.idea/*
.env
**/.DS_Store
.DS_Store
.idea/
npm-debug.log
.vscode
.public
logs/error/*
logs/info/*
!logs/error/.gitkeep
!logs/info/.gitkeep

docs/data


.env.production
.env.development


/server/logs
/worker/logs
/worker/worker/logs/
/client/logs/
/logs

/docs
/docs/deploy.md
/docs/Mongo.md
/docs/scp.md


/postman

docker-compose.prod.yml
docker-compose.staging.yml
docker-compose.yml
deploy.sh
pnpm-lock.yaml


Dockerfile.archive
Dockerfile
sonar-project.properties
.gitlab-ci.yml