<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SnapCrack</title>
    <style>
        body {
            color: #fff;
        }

        .main-bg {
            background-color: #000;
            z-index: 0;
            background-image: url(./images/main-bg.png);
            background-repeat: no-repeat;
            background-size: cover;
            padding: 5rem 5rem 2rem;

        }

        .max-w-600 {
            max-width: 600px;
            margin: 0 auto;
        }

        .min-h-screen {
            min-height: 100vh;
        }

        .bg-grayLight {
            background: #18181B;
            border-radius: 26px;
        }

        .w-full {
            width: 100%;
        }

        .h-full {
            height: 100%;
        }

        .block {
            display: block;
        }

        .text-center {
            text-align: center;
        }

        .text-gray-400 {
            color: #71717A;
        }

        .confirm-btn {
            padding: .8rem 1.5rem;
            background: #FBD63C;
            color: #18181B;
            border-radius: .5rem;
            border: none;
            text-decoration: none;
            display: inline-block;
            transition: .3s all;
        }

        .confirm-btn:hover {
            background: #e9ba00;
        }

        .flex-cen {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .text-white {
            color: white;
        }

        .gap-2 {
            gap: 2rem;
        }

        @media(max-width:768px) and (min-width:576px) {
            .bg-grayLight {
                padding: 2rem 1rem !important;
            }
        }

        @media(max-width:575px) {
            .bg-grayLight {
                padding: 2rem 1rem !important;
                border-radius: 0px !important;
            }

            .main-bg {
                padding: 2rem 0rem 2rem;
            }
        }
    </style>

</head>

<body style="margin:0;" class="text-white">
    <div class="min-h-screen main-bg max-w-600">
        <table class="w-full h-full text-center bg-grayLight" style="padding: 2rem 8rem;">
            <tbody>
                <tr class="w-full " style="display:block;">
                    <div style="padding: 0 2rem;">
                        <td class="logo " style="display:block;">
                            <img src="images/header-logo.svg" alt="" />
                        </td>
                        <td style="display:block;margin-top:2rem;">
                            <!-- <div>
                            <img src="images/successful.svg" alt="">
                        </div> -->
                            <h2>Success Fully Reset Password</h2>
                            <div>
                                <p style="font-size: 18px;">Hi <%= user_name %></p>
                                <p style="font-size: 18px;">Email  :<%= email_id %></p>
                            </div>
                            <div>
                                Thanks,<br>
                                Team Snapcrack
                            </div>
                        </td>
                        <td style="display:block;margin-top:2rem; ">
                            <div style="text-align: center;">
                                <p class="text-gray-400 " style="margin-right:4px;margin-bottom: 0;margin-top: 0;">If you have any questions, <a href="#" class="text-gray-400" style="font-weight:bold;text-decoration:none;">contact us.</a></p>
                            </div>
                        </td>

                    </div>
                </tr>
            </tbody>
        </table>
        <table class="w-full text-center" style="margin-top:1rem;">
            <tr>
                <td style="display:block;">
                    <p style="font-size:12px;">Snap Crack Chiropractic <br />
                        Don't like these emails? Unsubscribe.</p>
                </td>
                <td class="gap-2 flex-cen" style="color: #fff;margin-top: 1rem;">
                    <a href="#">
                        <img src="images/instagram.svg" alt="">
                    </a>
                    <a href="#">
                        <img src="images/twitter.svg" alt="">
                    </a>
                    <a href="#">
                        <img src="images/facebook-fill.svg" alt="">
                    </a>
                    <a href="#">
                        <img src="images/youtube-fill.svg" alt="">
                    </a>
                </td>
                <td class="text-center" style="display:block;">
                    <p style="font-size:12px;color:#999; margin-top: 4rem;">Powered by snapcrack.com</p>
                </td>
            </tr>
        </table>
    </div>
</body>

</html>