node_modules/.env
/node_modules
/postman
.idea/*
/public/node_modules
/public/bower_components
/public/chatFile
/public/eventInvoice
/public/image
/public/images
/public/chartPdf
/public/identity-docs
.env
**/.DS_Store
.DS_Store
.idea/
npm-debug.log
.vscode
.public
logs/error/*
logs/info/*
!logs/error/.gitkeep
!logs/info/.gitkeep


.env.production 
.env.development



.docker